.navigation {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 16px;
  justify-content: center;
}

.navigation a {
  color: rgb(53, 190, 142);
  text-decoration: none;
}

.navigation a:hover {
  color: rgb(83, 33, 131);
}
