.navigation {
  display: flex;
  flex-direction: row;
  gap: 16px;
  
}

.navigation ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0 16px;
}

.navigation a {
  color: rgb(53, 190, 142);
  text-decoration: none;
  align-items: center;
}

.navigation a:hover {
  color: rgb(83, 33, 131);
}
