.header {
    background: rgb(9, 12, 22);
    padding: 0.2rem;
    margin: auto;    
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.navigation a {
    color: rgb(53, 190, 142);
    text-decoration: none;
}

.navigation a:hover {
    color: rgb(83, 33, 131);
}

